In [2]:
import pandas as pd
import numpy as np
import regex as re
import nltk

In [2]:
df = pd.read_csv(r"C:\Users\karu0\Machine Learning\NLP\goodreads_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   Book         10000 non-null  object
 2   Author       10000 non-null  object
 3   Description  9923 non-null   object
 4   Genres       10000 non-null  object
 5   Avg_Rating   10000 non-null  float64
 6   Num_Ratings  10000 non-null  object
 7   URL          10000 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 625.1+ KB

In [3]:
df.head()

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...

## Cleaning

In [4]:
df.isna().sum()

Unnamed: 0      0
Book            0
Author          0
Description    77
Genres          0
Avg_Rating      0
Num_Ratings     0
URL             0
dtype: int64

In [5]:
df.dropna(subset=["Description"], inplace=True)

## URL & HTML tag removal from description

In [6]:
import re
url_pattern = re.compile(r'https?://\S+|www\.\S+')
def remove_url(text):   
    return re.sub(url_pattern, r'', text)

df.description = df.Description.apply(remove_url)

C:\Users\karu0\AppData\Local\Temp\ipykernel_7340\3545508365.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.description = df.Description.apply(remove_url)

In [7]:
html_pattern = re.compile('<[^>]*>')
def clean_html_tags(text):
    return re.sub(html_pattern, r'', text)

df.description = df.Description.apply(clean_html_tags)

## Punctuation Removal

In [8]:
import string
punctuations = string.punctuation
def remove_punctuations(text):
    return text.translate(str.maketrans('', '', punctuations))

df.description = df.description.apply(remove_punctuations)

## Space removal and lower text conversion

In [9]:
df[["Book", "Author", "Description"]] = pd.concat([df[col].astype(str).str.lower().str.strip() for col in ["Book", "Author", "Description"]], axis=1)
df.head()

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,0,to kill a mockingbird,harper lee,the unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,1,harry potter and the philosopher’s stone (harr...,j.k. rowling,harry potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,2,pride and prejudice,jane austen,"since its immediate success in 1813, pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,3,the diary of a young girl,anne frank,discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,4,animal farm,george orwell,librarian's note: there is an alternate cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...

In [10]:
df

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,0,to kill a mockingbird,harper lee,the unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,1,harry potter and the philosopher’s stone (harr...,j.k. rowling,harry potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,2,pride and prejudice,jane austen,"since its immediate success in 1813, pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,3,the diary of a young girl,anne frank,discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,4,animal farm,george orwell,librarian's note: there is an alternate cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...
...,...,...,...,...,...,...,...,...
9995,9995,"breeders (breeders trilogy, #1)",ashley quigley,how far would you go? if human society was gen...,"['Dystopia', 'Science Fiction', 'Post Apocalyp...",3.44,276,https://www.goodreads.com/book/show/22085400-b...
9996,9996,dynamo,eleanor gustafson,jeth cavanaugh is searching for a new life alo...,[],4.23,60,https://www.goodreads.com/book/show/20862902-d...
9997,9997,the republic of trees,sam taylor,this dark fable tells the story of four englis...,"['Fiction', 'Horror', 'Dystopia', 'Coming Of A...",3.29,383,https://www.goodreads.com/book/show/891262.The...
9998,9998,"waking up (healing hearts, #1)",renee dyer,for adriana monroe life couldn’t get any bette...,"['New Adult', 'Romance', 'Contemporary Romance...",4.13,263,https://www.goodreads.com/book/show/19347252-w...
9999,9999,bits and pieces: tales and sonnets,jas t. ward,after demands of thousands of fans in various ...,[],5.00,36,https://www.goodreads.com/book/show/21302552-b...

In [11]:
df[df.duplicated()==True].shape[0]

0

In [12]:
df.shape[0] - df.nunique()

Unnamed: 0        0
Book            129
Author         3914
Description      36
Genres         1901
Avg_Rating     9712
Num_Ratings    2389
URL               0
dtype: int64

In [13]:
df

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,0,to kill a mockingbird,harper lee,the unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,1,harry potter and the philosopher’s stone (harr...,j.k. rowling,harry potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,2,pride and prejudice,jane austen,"since its immediate success in 1813, pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,3,the diary of a young girl,anne frank,discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,4,animal farm,george orwell,librarian's note: there is an alternate cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...
...,...,...,...,...,...,...,...,...
9995,9995,"breeders (breeders trilogy, #1)",ashley quigley,how far would you go? if human society was gen...,"['Dystopia', 'Science Fiction', 'Post Apocalyp...",3.44,276,https://www.goodreads.com/book/show/22085400-b...
9996,9996,dynamo,eleanor gustafson,jeth cavanaugh is searching for a new life alo...,[],4.23,60,https://www.goodreads.com/book/show/20862902-d...
9997,9997,the republic of trees,sam taylor,this dark fable tells the story of four englis...,"['Fiction', 'Horror', 'Dystopia', 'Coming Of A...",3.29,383,https://www.goodreads.com/book/show/891262.The...
9998,9998,"waking up (healing hearts, #1)",renee dyer,for adriana monroe life couldn’t get any bette...,"['New Adult', 'Romance', 'Contemporary Romance...",4.13,263,https://www.goodreads.com/book/show/19347252-w...
9999,9999,bits and pieces: tales and sonnets,jas t. ward,after demands of thousands of fans in various ...,[],5.00,36,https://www.goodreads.com/book/show/21302552-b...

In [14]:
df.Description[7]

'alternate cover edition isbn: 0743273567 (isbn13: 9780743273565)the great gatsby, f. scott fitzgerald\'s third book, stands as the supreme achievement of his career. this exemplary novel of the jazz age has been acclaimed by generations of readers. the story of the fabulously wealthy jay gatsby and his love for the beautiful daisy buchanan, of lavish parties on long island at a time when the new york times noted "gin was the national drink and sex the national obsession," it is an exquisitely crafted tale of america in the 1920s.the great gatsby is one of the great classics of twentieth-century literature.(from the back cover)'

## Content Based

In [142]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [144]:
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(df['Description'])

In [146]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

0                                   to kill a mockingbird
1       harry potter and the philosopher’s stone (harr...
2                                     pride and prejudice
3                               the diary of a young girl
4                                             animal farm
                              ...
9918                      breeders (breeders trilogy, #1)
9919                                               dynamo
9920                                the republic of trees
9921                       waking up (healing hearts, #1)
9922                   bits and pieces: tales and sonnets
Name: Book, Length: 9881, dtype: object

In [154]:
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(df['Description'])
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [169]:
def recommend_books_similar_to(book_name, n=5, cosine_sim_mat = cosine_sim):
    
    books = pd.Series(df['Book'])
    
    input_idx = books[books == book_name].index[0]
    print(input_idx)
    top_n_books_idx = list(pd.Series(cosine_sim_mat[input_idx]).sort_values(ascending = False).iloc[1:n+1].index)
    
    
    books_list = list(books)
    recommended_books = [books[i] for i in top_n_books_idx]
        
    return recommended_books

In [170]:
recommend_books_similar_to("pride and prejudice")

2

['pride and prejudice and zombies (pride and prejudice and zombies, #1)',
 'austenland (austenland, #1)',
 'the complete novels',
 'pride and prejudice, mansfield park, persuasion',
 'dawn of the dreadfuls (pride and prejudice and zombies, #0.5)']

## Keyword Extraction

In [15]:
from keybert import KeyBERT

kw_model = KeyBERT()

C:\Users\karu0\anaconda3\envs\NLP\lib\site-packages\transformers\utils\generic.py:260: UserWarning: torch.utils._pytree._register_pytree_node is deprecated. Please use torch.utils._pytree.register_pytree_node instead.
  torch.utils._pytree._register_pytree_node(

In [16]:
def get_keywords(text):
    keywords = kw_model.extract_keywords(text, keyphrase_ngram_range=(1, 1), stop_words="english")
    keywords = " ".join([k[0] for k in keywords])
    return keywords

In [17]:
df["keywords"] = df.Description.apply(get_keywords)

In [21]:
df['keywords1'] = df['keywords'].apply(lambda x: x.split())

In [22]:
df

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL,keywords,keywords1
0,0,to kill a mockingbird,harper lee,the unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...,mockingbird pulitzer literature novel bestseller,"[mockingbird, pulitzer, literature, novel, bes..."
1,1,harry potter and the philosopher’s stone (harr...,j.k. rowling,harry potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...,potter harry wizard wizardry hogwarts,"[potter, harry, wizard, wizardry, hogwarts]"
2,2,pride and prejudice,jane austen,"since its immediate success in 1813, pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...,austen novels prejudice elizabeth pride,"[austen, novels, prejudice, elizabeth, pride]"
3,3,the diary of a young girl,anne frank,discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...,anne diary frank franks attic,"[anne, diary, frank, franks, attic]"
4,4,animal farm,george orwell,librarian's note: there is an alternate cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...,stalinist farm totalitarianism orwell revolution,"[stalinist, farm, totalitarianism, orwell, rev..."
...,...,...,...,...,...,...,...,...,...,...
9995,9995,"breeders (breeders trilogy, #1)",ashley quigley,how far would you go? if human society was gen...,"['Dystopia', 'Science Fiction', 'Post Apocalyp...",3.44,276,https://www.goodreads.com/book/show/22085400-b...,ethical genetic offspring unborn breeding,"[ethical, genetic, offspring, unborn, breeding]"
9996,9996,dynamo,eleanor gustafson,jeth cavanaugh is searching for a new life alo...,[],4.23,60,https://www.goodreads.com/book/show/20862902-d...,god jeth stallion redemption fervor,"[god, jeth, stallion, redemption, fervor]"
9997,9997,the republic of trees,sam taylor,this dark fable tells the story of four englis...,"['Fiction', 'Horror', 'Dystopia', 'Coming Of A...",3.29,383,https://www.goodreads.com/book/show/891262.The...,forest trees rousseau fable nightmare,"[forest, trees, rousseau, fable, nightmare]"
9998,9998,"waking up (healing hearts, #1)",renee dyer,for adriana monroe life couldn’t get any bette...,"['New Adult', 'Romance', 'Contemporary Romance...",4.13,263,https://www.goodreads.com/book/show/19347252-w...,tucker adriana monroe alex betrayal,"[tucker, adriana, monroe, alex, betrayal]"
9999,9999,bits and pieces: tales and sonnets,jas t. ward,after demands of thousands of fans in various ...,[],5.00,36,https://www.goodreads.com/book/show/21302552-b...,sonnets tales poems novella stories,"[sonnets, tales, poems, novella, stories]"

In [23]:
df.to_csv("goodreads_data.csv")

In [3]:
df = pd.read_csv('goodreads_data.csv')

In [20]:
# What genres do you enjoy reading? (e.g., Mystery, Romance, Science Fiction, Fantasy, Historical Fiction, Non-fiction, etc.)
# Are there any specific themes or topics you prefer in books? (e.g., Adventure, Love, Friendship, War, Politics, Science, History, etc.)
# Do you have any preferred book settings? (e.g., Urban, Rural, Historical, Futuristic, etc.)
# How important is character development to you in a book? (e.g., Very important, Somewhat important, Not important)
# Do you prefer books with a fast-paced plot or a slower, more reflective pace?

# mystery, adventure, futuristic, not important, slow

In [ ]:
import gensim.downloader as api
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
fasttext_model = api.load("fasttext-wiki-news-subwords-300")

In [82]:
import ast
def keyword_embedding(df, fasttext_model):
    # df['keywords1'] = df['keywords1'].apply(ast.literal_eval)
    df['embedding'] = np.nan
    arr = np.zeros((9923, 300))
    for i, row in enumerate(df['keywords1']):
        vect = np.zeros(300,  dtype=np.float32)
        for keyword in row:
            if keyword in fasttext_model:
                vect += fasttext_model[keyword]
        vect = vect / len(row)
        arr[i] = vect
    return arr

In [83]:
arr = keyword_embedding(df, fasttext_model)

C:\Users\karu0\AppData\Local\Temp\ipykernel_21792\2290124721.py:11: RuntimeWarning: invalid value encountered in divide
  vect = vect / len(row)

In [119]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

def user_pref(ans1, ans2, ans3, ans4, ans5, arr, df, fasttext_model):
    user_response = [ans1, ans2, ans3, ans4, ans5]
    arr_user = np.zeros((5, 300))
    
    for i, ans in enumerate(user_response):
        vect = np.zeros(300, dtype=np.float32)  # Initialize a new vector for each response
        if ans in fasttext_model:
            vect += fasttext_model[ans]  # Add the vector representation of the word
        arr_user[i] = vect / len(user_response)  # Assign the normalized vector to arr_user
    arr[np.isnan(arr)] = 0
    arr_user[np.isnan(arr_user)] = 0
    cosine_sim = cosine_similarity(arr_user, arr)
    top_books_indices = []
    for i in range(cosine_sim.shape[0]):
        user_top_indices = np.argsort(cosine_sim[i])[-1:][::-1]  # Get indices of top 5 similar books
        top_books_indices.extend(user_top_indices)
    # Get unique top indices and their corresponding book names
    unique_top_indices = list(set(top_books_indices))
    top_books = df.iloc[unique_top_indices]['Book']
    
    return top_books

In [120]:
user_pref("mystery", "adventure", "futuristic", "not important", "slow", arr, df, fasttext_model)

9922    bits and pieces: tales and sonnets
7587                          freedom road
9443                       beyond the veil
109                        brave new world
3694                               origins
Name: Book, dtype: object

## Extractive Summarisation

In [122]:
df['Description'][0]

'the unforgettable novel of a childhood in a sleepy southern town and the crisis of conscience that rocked it. "to kill a mockingbird" became both an instant bestseller and a critical success when it was first published in 1960. it went on to win the pulitzer prize in 1961 and was later made into an academy award-winning film, also a classic.compassionate, dramatic, and deeply moving, "to kill a mockingbird" takes readers to the roots of human behavior - to innocence and experience, kindness and cruelty, love and hatred, humor and pathos. now with over 18 million copies in print and translated into forty languages, this regional story by a young alabama woman claims universal appeal. harper lee always considered her book to be a simple love story. today it is regarded as a masterpiece of american literature.'

In [124]:
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from nltk.tokenize import sent_tokenize, word_tokenize
from sklearn.cluster import KMeans
import numpy as np
import random

In [140]:
def sentences_from_clusters(text):
    result = ""
    sent = []
    sentences = sent_tokenize(text)
    tagged_data = [TaggedDocument(words=word_tokenize(sentence.lower()), tags=[str(i)]) for i, sentence in enumerate(sentences)]
    model = Doc2Vec(vector_size=100, window=5, min_count=1, workers=4, epochs=100)
    model.build_vocab(tagged_data)
    model.train(tagged_data, total_examples=model.corpus_count, epochs=model.epochs)
    embeddings = [model.infer_vector(word_tokenize(sentence.lower())) for sentence in sentences]
    X = np.array(embeddings)
    kmeans = KMeans(n_clusters=3, random_state=0)
    kmeans.fit(X)
    cluster_assignments = kmeans.labels_
    for cluster_id in range(kmeans.n_clusters):
        cluster_indices = np.where(cluster_assignments == cluster_id)[0]
        random_index = np.random.choice(cluster_indices)
        sent.append(sentences[random_index])
    
    result = " ".join(sent)
    return result

In [141]:
sentences_from_clusters(df['Description'][0])

C:\Users\karu0\anaconda3\envs\NLP\lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
C:\Users\karu0\anaconda3\envs\NLP\lib\site-packages\sklearn\cluster\_kmeans.py:1436: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

'now with over 18 million copies in print and translated into forty languages, this regional story by a young alabama woman claims universal appeal. today it is regarded as a masterpiece of american literature. "to kill a mockingbird" became both an instant bestseller and a critical success when it was first published in 1960. it went on to win the pulitzer prize in 1961 and was later made into an academy award-winning film, also a classic.compassionate, dramatic, and deeply moving, "to kill a mockingbird" takes readers to the roots of human behavior - to innocence and experience, kindness and cruelty, love and hatred, humor and pathos.'